{% extends "base.html" %} {% block content %} {% load static %}

<header class="sign_back">

    <div class="container ">
        <div class="row justify-content-center col-12">
            <div class="row justify-content-center col-12">
                <div class="col-12 text-center">


                    <h3>Mentions légales</h3>




                    <ul class="pt-3">
                        <hr class="col-12 border" />
                        <li>Site hebergé par <a href="https://www.heroku.com/">www.heroku.com</a></li>
                        <hr class="col-12 border" />
                        <li>Projet numéro 8 de la formation python sur OpenClassRooms</li>
                        <hr class="col-12 border" />
                        <li>Développer par anthony thillerot
                            <a class="d-block" href="mailto:anthony.thillerot@gmail.com">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i></a>

                        </li>

                    </ul>



                    <section class="container-fluid entry-content post-content" wfd-id="69">
                        <div class="container" wfd-id="70">
                            <div class="row" wfd-id="71">
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" wfd-id="77">
                                    <p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site&nbsp;http://www.atmosphere-communication.fr&nbsp;l’identité des différents
                                        intervenants dans le cadre de sa réalisation et de son suivi :</p>
                                    <ul wfd-id="78">
                                        <li wfd-id="85">Propriétaire : ATMOSPHERE</li>
                                        <li wfd-id="84">Créateur :&nbsp;ATMOSPHERE</li>
                                        <li wfd-id="83">Webmaster : ATMOSPHERE – agence@atmospherecommunication.fr</li>
                                        <li wfd-id="82">Tél. +33 (0)2 41 66 83 38</li>
                                        <li wfd-id="81">Adresse : Péniche Atmosphère – quai des carmes – 49000 Angers&nbsp;FR</li>
                                        <li wfd-id="80">SIREN : 392&nbsp;638&nbsp;557</li>
                                        <li wfd-id="79">TVA intracommunautaire : FR 63392638557</li>
                                    </ul>
                                    <p>Pour toute question relative au site, utiliser le <a href="/contact/">formulaire de contact</a>.</p>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" wfd-id="73">
                                    <h2>Publication du site</h2>
                                    <p>Le site Atmosphère Communication est géré par Atmosphère Communication.</p>
                                    <h2>Directeur de publication</h2>
                                    <p>Stephane Boutier<br> Gérant
                                    </p>
                                    <h2>Photos</h2>
                                    <ul wfd-id="74">
                                        <li wfd-id="76">Arthur Corgier</li>
                                        <li wfd-id="75">Régine Lemarchand</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" wfd-id="72">
                                    <h2>Créateur du site</h2>
                                    <p><a href="https://www.atmosphere-communication.fr/" target="_blank" rel="noopener">Atmosphère communication</a></p>
                                    <h2>Hébergement du site</h2>
                                    <p>L’hébergement du site est assuré par :</p>
                                    <p>OVH</p>
                                    <p>2 rue Kellermann<br> 59100 Roubaix<br> France
                                    </p>
                                </div>
                            </div>
                        </div>

                    </section>




                </div>

            </div>
        </div>



    </div>




</header>







{% endblock %}