{% extends "base.html" %} {% block content %} {% load static %}

<div class="row sign_back pb-5">

    <div class="container col-8">

        <div class="row justify-content-center  col-12">
            <div class="col-12 text-center ">



                <img src="{% static '/img/profil.png' %}" alt="..." class="border rounded-circle " width="150px">

                <hr class="divider_sign" />
                <h4>Vos aliments sauvegardés sont : </h4>

                <div class="row justify-content-center mt-5">
                    {% for article in articles_list %}

                    <div class="card col-lg-3 col-md-5 col-8 card_result">
                        <a href="{% url 'show_product' %}?id={{article.id}}&search={{ aliment_search }}" style="height:50%;">
                            <div class="img_nutri_result">
                                <img src="{% static '/img/' %}{{article.nutriscore_grade}}.svg" alt="">

                            </div>
                            <div class="img_div_result">
                                <img src="{{ article.image_url }}" class="card-img-top " alt="">

                            </div>
                        </a>
                        <div class="card-body card-body-article">
                            <h5 class="card-title">{{article.name}}</h5>
                            <!-- <p class="card-text">Nutriscore : {{article.nutriscore_grade.upper}}</p> -->
                            <p class="card-text">Categories: {{article.categories.name}}</p>
                            <form action="{% url 'unsave' %}" method="post" class="button_card_art">
                                {% csrf_token %}
                                <input type="hidden" name="search" value="{{ aliment_search }}">

                                <button type="submit" class="btn btn-primary" name="id" value="{{article.id}}"><i
                                            class="fa fa-floppy-o"> Retirer</i></button>

                            </form>

                        </div>
                    </div>


                    {% empty %}
                    <h1>Sorry, no articles.</h1>
                    {% endfor %}

                </div>

                {% if paginate %}
                <div class="clearfix"></div>
                <nav aria-label="">
                    <ul class="pagination justify-content-center">
                        {% if articles_list.has_previous %}
                        <li style="padding-right: 20px;">
                            <a href="?page={{ articles_list.previous_page_number }}">
                                <button class="btn page-link">Précédent</button>
                            </a>

                        </li>

                        {% endif %} {% if articles_list.has_next %}
                        <li>
                            <a href="?page={{ articles_list.next_page_number }}">
                                <button class="btn page-link ">Suivant</button>
                            </a>
                        </li>

                        {% endif %}
                    </ul>
                </nav>
                {% endif %}



            </div>


        </div>




    </div>




</div>







{% endblock %}