{% extends "base.html" %} {% block content %} {% load static %}

<div class="row sign_back pb-5">

    <div class="container col-10">

        <div class="row justify-content-center col-12">
            <div class="col-12 text-center">

                <h1 class="mt-2">Votre aliment cherché est : {{ aliment_search }}</h1>
                <hr class="divider_sign" />

                <h4>Vous pouvez remplacer cet aliment par : </h4>

                {% if messages %}
                <div class="row justify-content-center">
                    <div class="alert alert-success col-4 " role="alert" style="margin-top: 50px;">

                        <div id="errors">
                            <div class="inner">
                                {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

                                <h4>Il y a des erreurs :</h4>
                                <ul>
                                    <li>{{ message }}</li>
                                </ul>

                                {% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                                <h4>SUCCESS : </h4>
                                <ul>
                                    <li>{{ message }}</li>
                                </ul>
                                {% endif %} {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>


                {% endif %}
            </div>


            <div class="row justify-content-center mt-5 col-12" id="div_card_all">
                {% for article in articles_list %}

                <div class="card col-xl-3 col-lg-5 col-8 card_result">
                    <a href="{% url 'show_product' %}?id={{article.id}}&search={{ aliment_search }}" style="height:50%;">
                        <div class="img_nutri_result">
                            <img src="{% static '/img/' %}{{article.nutriscore_grade}}.svg" alt="">

                        </div>
                        <div class="img_div_result">
                            <img src="{{ article.image_url }}" class="card-img-top " alt="">

                        </div>
                    </a>
                    <div class="card-body card-body-article ">
                        <h5 class="card-title">{{article.name}}</h5>
                        <p class="card-text">Categories: {{article.categories.name}}</p>
                        <form action="{% url 'resultat' %}" method="post" class="button_card_art">
                            {% csrf_token %}
                            <input type="hidden" name="search" value="{{ aliment_search }}">

                            <button type="submit" class="btn btn-primary " name="id" value="{{article.id}}" id="button_id"><i
                                    class="fa fa-floppy-o"> Sauvegarder</i></button>

                        </form>

                    </div>
                </div>


                {% empty %}
                <h1>Sorry, no articles.</h1>
                {% endfor %}

            </div>

            {% if paginate %}
            <div class="clearfix"></div>
            <nav aria-label="">
                <ul class="pagination justify-content-center">
                    {% if articles_list.has_previous %}
                    <li style="padding-right: 20px;">
                        <a href="?page={{ articles_list.previous_page_number }}&{{ str_dict_return_param}}">
                            <button class="btn page-link">Précédent</button>
                        </a>

                    </li>

                    {% endif %} {% if articles_list.has_next %}
                    <li>
                        <a href="?page={{ articles_list.next_page_number }}&{{ str_dict_return_param}}">
                            <button class="btn page-link ">Suivant</button>
                        </a>
                    </li>

                    {% endif %}
                </ul>
            </nav>
            {% endif %}



        </div>


    </div>

</div>



{% endblock %}